<aside class="h-full w-[200px] flex flex-col gap-6">
  <ul class="flex flex-col gap-2 translate-y-4 mr-4">
    <li class="border rounded-lg p-1"><a id="fileUploadBtn" class="cursor-pointer flex gap-4"><img src="/svg/filePlus.svg" alt="Add file icon" class="w-[24px]"><span>Upload file</span></a></li>
    <li class="border rounded-lg p-1"><a id="folderCreateBtn" class="cursor-pointer flex gap-4"><img src="/svg/folderPlus.svg" alt="Add file icon" class="w-[24px]"><span>New folder</span></a></li>
  </ul>
  <ul class="flex flex-col gap-1 translate-y-4 mr-4">
    <li><a href="/home">Home</a></li>
    <li><a href="/home/folders">Folders</a></li>
    <li><a href="/home/files">Files</a></li>
  </ul>
</aside>
