<aside class="h-full w-[200px] flex flex-col gap-6">
  <ul class="flex flex-col gap-1 translate-y-4">
    <li><a id="fileUploadBtn" class="cursor-pointer">File Upload</a></li>
    <li><a id="folderCreateBtn" class="cursor-pointer">New Folder</a></li>
  </ul>
  <ul class="flex flex-col gap-1 translate-y-4">
    <li><a href="/home">Home</a></li>
    <li><a href="/home/folders">Folders</a></li>
    <li><a href="/home/files">Files</a></li>
  </ul>
</aside>
