<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <main class="h-full flex justify-center items-center">
    <form action="register" method="post" class="flex flex-col justify-center items-center w-fit gap-2 border p-4">
      <label for="username">
        <input type="text" name="username" id="username" placeholder="Username" required class="p-2 border">
      </label>

      <label for="password">
        <input type="text" name="password" id="password" placeholder="Password" required class="p-2 border">
      </label>

      <label for="confirmPassword">
        <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" required class="p-2 border">
      </label>
      <button type="submit">
        Sign in
      </button>
      <hr class="w-full">
      <p>Already have an account? <span><a href="/">Log in</a></span></p>
    </form>
  </main>
</body>
</html>