<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main class="h-full flex justify-center items-center flex-col gap-4">
     <% if (locals.message) { %>
      <p class="border bg-green-400 p-4"><%= locals.message %></p>
     <% } %>
    <form action="/login" method="POST" class="flex flex-col justify-center items-center w-fit gap-2 border p-4">
      <div>
        <label for="username">
          <input type="text" name="username" id="username" placeholder="Username" required  class="p-2 border">
        </label>
      </div>

      <div>
        <label for="password">
          <input type="password" name="password" id="password" placeholder="Password" required class="p-2 border">
        </label>
      </div>
      <button type="submit">
        Sign in
      </button>
      <hr class="w-full">
      <a href="register">Create new account</a>
    </form>
  </main>
</body>
</html>